<% include header %>

<div class="jumbotron">
    <h2>Bienvenue <%= sess.firstname %></h2>

    <a class="btn btn-primary" role="button" href="login"> Connectez-vous >></a>
    <a class="btn btn-primary" role="button" href="register"> Inscrivez-vous >></a>
</div>

<% include footer %>